@import './mixin.scss';
@import './reset.scss';
@import './colors.scss';

/* Common */


body {
  background-color: #282c34;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

body::-webkit-scrollbar,
#portfolio::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track,
#portfolio::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb,
#portfolio::-webkit-scrollbar-thumb {
  background-color: tomato;
  outline: 1px solid #C74D38;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: tomato;
}

// a
// h1, h2, h3, h4, h5, h6,
// p {
//   &::first-letter {
//     color: tomato;
//     margin-left: 2px
//   }
// }

/* Custom CSS Classes */
.ab-center {
  position: absolute;
  font-size: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


video {
  display: none;
}



#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#logotype {
  margin-top: -11px;
  position: absolute;
  font-size: 50px;
  display: flex;
  align-items: center;

  em {
    color: tomato;
  }

  .rec {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: tomato;
  }
}

header {
  position: relative;
  padding: 85px 0 !important;
  z-index: 999;
  background-color: $color_gray;
  border: 1px solid tomato;

  clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%) !important;
}

.container {
  max-width: 1200px;
}

#about {
  margin: 0;
  .trapezoid-reverse {
    background-color: tomato;
  }

  .text {
    color: $color_whitesmoke;

    p {
      font-size: 30px;
    }
  }
}

/* Portfolio */
#portfolio {
  padding: 0 0 0;
  // margin: 50px 0;
  // height: ;

  .portfolio {
    overflow-x: scroll;
    overflow-y: hidden;
    overflow: hidden;
    min-height: 700px;
    // border: 1px dashed tomato;

    div.preview {
      position: relative;
      width: 20%;
      // min-width: 25%;
      max-width: 900px;
      // border-left: 1px dashed tomato;
      transition: width 1s, height 1s;
      transition-delay: 0.5s;

      img {
        z-index: 11;
        height: 100%;
        max-width: 100%;
        object-fit: cover;
        box-shadow: inset 0 0 100px 50px black;
      }

      .icon-in-block {
        font-size: calc(50% - 20px);
      }
    }

    div.preview:hover {
      width: 60%;
      height: 700px;

    }
  }
}

/*

???
*/
.grid-row {
  width: 100%;
  // display: grid;
  // grid-template-columns: repeat(5, 20%);
  display: flex;

}


/* Contacts */
.contacts {
  // position: sticky;
  // bottom: 0;
  text-align: center;

  // border: 1px dashed tomato;
  // border-top-left-radius: 50%;
  // border-top-right-radius: 50%;
  // border-bottom: none;


  .contacts-group {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(214, 85, 62);
    padding: 10px;
    font-weight: 300;

    svg {
      color: rgb(214, 85, 62);
      fill: rgb(214, 85, 62);
      stroke-width: 1px;

    }

    &:hover {
      cursor: pointer;
      color: tomato;

      svg {
        fill: tomato;
      }
    }
  }
}

.bg {
  background-color: tomato;
}

footer,
header {
  padding: 50px 0;
  width: 100%;
  position: relative;
  background: #282c34;
  // border-bottom-left-radius: 50%;
  // border-bottom-right-radius: 50%;
  // border: 1px dashed tomato;
  border-top: none;
  border-right: none;
  border-left: none;

  nav {
    position: sticky;
    top: 0;
    top: 0;
    z-index: 15;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $color_whitesmoke;

    >ul {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 30px;

      li {
        margin-right: 20px;
      }
    }
  }
}

footer {
  // position: sticky;
  // bottom: 0;
  // border-top-left-radius: 50%;
  // border-top-right-radius: 50%;
  // border: 1px dashed tomato;
  // border-bottom: none;

  // margin: 5px 0;
  text-align: center;
  border-top: 1px solid tomato;

  p {
    color: $color_whitesmoke_darken_3;
  }
}

/* Links */
.link {
  color: #b318f0;
}

/* Separator*/
div.separator {
  z-index: 1;
  width: 100%;
  display: block;
  width: 100%;
  height: 50px;
  background-color: tomato;
  clip-path: polygon(0 0, 0 100%, 100% 0);

  &.mirrorX {
    transform: scale(-1, 1);
  }

  &.mirrorY {
    transform: scale(1, -1);
  }

  &.mirrorX.mirrorY {
    transform: scale(-1, -1);
  }

  &.absolute {
    position: absolute;
  }
}

/* Icons */
.icon-in-block {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.icon {
  color: $color_whitesmoke;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 1px dashed $color_whitesmoke_darken_3;

  &:hover {
    cursor: pointer;
    color: tomato;
    border-color: tomato;

    animation: shakeY;
    animation-duration: 2s;
  }

  span {
    position: absolute;
    font-size: 40px;
    font-weight: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


/* Sections */

section {
  // margin: 50px 0;
  position: relative;

  .triangle {
    @include triangle(15%);
  }
  .trapezoid {
    @include trapezoid(15%);
  }
  .trapezoid-reverse {
    @include trapezoid(15%, false);
  }
  .trapezoid-f2 {
    @include trapezoidF2(15, false);
    span {
      position: absolute;
      bottom: 30%;
      right: 15%;
      color: #ccc;
      font-size: 40px;
      font-weight:100;
      transform: rotate(-5deg);
      // text-shadow: inset 0 0 10px #FFFFFF;
      // text-shadow: 4px 3px 0px #7A7A7A, 0px -28px 2px rgba(74,103,206,0);
      // text-shadow: 4px 3px 0px #7A7A7A, 0px -28px 2px rgba(74,103,206,0);
      // text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
      &:hover {
        cursor: pointer;
        font-weight:900;
        color: whitesmoke;
        // text-shadow: 4px 3px 0px #7A7A7A, 0px -28px 2px rgba(74,103,206,0);
        // text-shadow: 4px 3px 0px #7A7A7A, 0px -28px 2px rgba(74,103,206,0);
      }
    }
  }
  

  img {
    // mix-blend-mode: luminosity;
    filter: grayscale(100%);
  }

  img:hover {
      mix-blend-mode: normal;
      filter: none;
  }

  .block {
    position: relative;
    height: 600px;
    display: grid;
    gap: 0px 5px;
    grid-column: 1;
    grid-template-columns: minmax(500px, 1fr) minmax(500px, 1fr);

    >div {
      position: relative;
      // border: 1px dashed tomato;
      text-align: left;
    }

    .text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      h1 {
        margin: 0;
        padding: 0;
        font-size: 45px;
        color: $color_whitesmoke;
        line-height: 50px;
        font-weight: 900;
      }
    }

    .text-home {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      h1 {
        margin: 0;
        padding: 0;
        font-size: 70px;
        color: $color_whitesmoke;
        line-height: 50px;
      }

      h3 {
        font-size: 25px;
        color: $color_whitesmoke;
      }

      p {
        color: $color_whitesmoke_darken_2;
      }
    }



    .preview {
      position: relative;

      img {
        z-index: 100;
        height: 100%;
        max-width: 100%;
        object-fit: cover;
        box-shadow: inset 0 0 100px 50px black;
      }

      .preview-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        display: none;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        z-index: 101;
        color: tomato;

        transform: translate(-50%, -50%);
        background: none;
        font-weight: 900;

        span {
          background-color: rgba(0, 0, 0, 0.7);
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          font-size: 6em;
          border-radius: 50%;
          box-shadow: 0 0 45px 0 black;
        }
      }

      &:hover {
        cursor: pointer;

        .preview-overlay {
          visibility: visible;
          display: block;
          // animation: bounceIn;
          // animation-duration: 1s;
          // animation-delay: 1s;
        }
      }
    }
  }
}

/* Block */
.block {
  .block__text {
    z-index: 12;
  }
}